nbproject
.DS_Store
/protected/extensions/
/protected/runtime/
/protected/data/
/protected/config/local.php
/protected/yiic
/protected/yiic.bat
/protected/yiic.php
/protected/tests/
/assets/
/runtime/